<launch>
  <arg name="rate" default="1.0"/>

  <!-- C++ publisher -->
  <node pkg="performance_tests" type="publisher" name="publisher">
    <param name="message" value="hello world - C++" />
    <param name="rate" value="$(arg rate)"/>
  </node>

  <!-- Python subscriber -->
  <node pkg="performance_tests" type="subpython.py" name="subpython">
  </node>

  <include file="$(find node_example)/launch/tools.launch"/>
</launch>
